@font-face {
  font-family: 'Ferro Grotesk';
  src: url('/fonts/mycustomfont-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: 'Ferro Grotesk', sans-serif !important;
}
